.menu-btn {
    width: 50px;
    height: 10px;
    background-color: var(--gray);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 4px var(--shadow-color);
}

.menu-btn:active {
    background-color: var(--gray-active);
}
