:root {
    --black: #242425;
    --black-active: black;
    --light-black: #444444;
    --blue: #101980;
    --red: #a2275e;
    --red-active: #7f0946;
    --gray: #74737b;
    --gray-active: #606063;
    --light-gray: rgba(125, 125, 125, 0.4);
    --dark-gray: #555764;
    --green: #495a14;
    --shadow-color: rgba(125, 125, 125, 0.25);
    --gameboy-gray: #c0bdb8;
    --gameboy-yellow: #ffe429;
    --gameboy-green: #9bc906;
    --gameboy-blue: #02b7d4;
    --gameboy-color: var(--gameboy-gray);
    --bg-color: cornflowerblue;
    --rotate-value: -27deg;
}
